{% extends 'base.html' %}

{% block title %}Recruiters List{% endblock %}

{% block content %}
    <h1>Registered Recruiters</h1>
    
    <ul class="recruiter-list">
        {% for recruiter in recruiters %}
            <li class="recruiter-item">
                <h3>
                    <a href="{% url 'recruiter-detail' recruiter.id %}">
                        {{ recruiter.recruiter_profile.company_name }}
                    </a>
                </h3>
                <p class="location">{{ recruiter.recruiter_profile.location }}</p>
            </li>
        {% empty %}
            <li>No recruiters registered yet.</li>
        {% endfor %}
    </ul>
{% endblock %}